:root {
  --primary-text-color: #757575;
  --hr-text-color: #212121;
  --primary-accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --footer-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* ШАПКА */
a > span {
  color: var(--primary-accent-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo,
.logo-footer {
  color: var(--hr-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: #ffffff;
}
.nav-link,
.nav-link-active,
.nav-mail {
  color: var(--hr-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link-active {
  color: var(--primary-accent-color);
}

.nav-link:hover,
.nav-link:focus,
.nav-mail:hover,
.nav-mail:focus {
  color: var(--primary-accent-color);
}

.nav-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-color);
}
/* КОНЕЦ ШАПКИ */

/* ГЕРОЙ */

.hero {
  background-color: var(--footer-color);
}

.hero-h {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: var(--primary-accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--primary-accent-color);
  background-color: white;
}
/* КОНЕЦ ГЕРОЙ */

/* ЧЕМ ЗАНИМАЕМСЯ */

.work {
  background: #ffffff;
}

.work-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hr-text-color);
}

.work-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.whatwedo {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hr-text-color);
}

/* КОНЕЦ ЧЕМ МІ ЗАНИМАЕМСЯ */

/* НАША КОМАНДА */

.team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hr-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--hr-text-color);
}

.team-pos {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* КОНЕЦ НАША КОМАНДА */

/* ПОДВАЛ */

.footer {
  background-color: var(--footer-color);
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* КОНЕЦ ПОДВАЛА */

/* Портфолио */
.portfolio-page {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.port-nav-btn,
.port-nav-btn-active {
  background-color: #f5f4fa;
  color: var(--hr-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.port-nav-btn:hover,
.port-nav-btn:focus {
  background-color: var(--primary-accent-color);
  color: #ffffff;
}

.port-nav-btn-active {
  background-color: var(--primary-accent-color);
  color: #ffffff;
}

.port-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--hr-text-color);
}

.port-sub {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* КОНЕЦ ПОРТФОЛИО */
